/* Variables */

$primary: #1b1b1b;
$secondary: #222222;
$white: #ffffff;
$body-color: #666666;

$font-family: 'Karla', sans-serif;

/* Media Queries */

$xs: 576px;
$sm: 768px;
$md: 1050px;
$lg: 1200px;
$xl: 1400px;